@{
    ViewBag.Title = "About Us";
}
<h2>About Us</h2>

<p>We aim to provide future missionaries the opportunity to connect with past missionaries. Select any mission to</p>
<ul>
    <li>Learn more about the mission and it's background</li>
    <li>Ask any question about the mission where past missionaries can respond</li>
    <li>Develop relationships with others</li>
    <li>Prepare yourself for your own mission</li>
</ul>
